@use "mixin" as *;
@use "header" as *;
@use "footer" as *;

//mv
.about__mv {
  & .mv__pic {
    & img {
      transform: scale(1.5);
      object-position: 14% -30px;
      @include min(sm) {
        transform: scale(1.3);
        object-position: 72px 124%;
      }
      @include min(md) {
        transform: scale(1.07);
        object-position: 35px 65%;
      }
    }
  }
}

//story
.story {
  padding-top: 86px;
  padding-bottom: 430px;
  @include min(sm) {
    padding-top: 130px;
    padding-bottom: 440px;
  }
  @include min(md) {
    padding-top: 150px;
    padding-bottom: 480px;
  }
  @include min(la) {
    padding-top: 180px;
    padding-bottom: 580px;
  }
}
.story__container {
  position: relative;
  height: 32vh;
  & .story__bg {
    position: absolute;
    background-color: #f6f7f0;
    width: 80%;
    height: 67vh;
    right: 0;
    z-index: -1;
    max-width: 1080px;
    margin-left: auto;
    @include min(sm) {
      height: 82vh;
    }
    @include min(md) {
      height: 84vh;
      max-height: 680px;
    }
    @include min(la) {
      height: 83vh;
      max-width: 1600px;
      max-height: 710px;
      margin: 0 auto;
      margin-left: 0;
    }
  }
  & .story__bg-inner {
    @include min(md) {
      position: relative;
      max-width: 1160px;
      margin: 0 auto;
      height: 100%;
    }
  }
  & .story__pic01 {
    position: absolute;
    top: -17%;
    width: 72vw;
    max-width: 312px;
    margin-left: 20px;
    overflow: hidden;
    @include min(sm) {
      top: -24%;
      width: 54vw;
      max-width: 520px;
      max-height: 300px;
    }
    @include min(md) {
      top: -35%;
      width: 61vw;
      max-width: 620px;
      height: 52vh;
      max-height: 370px;
    }
    @include min(la) {
      top: -34%;
      max-width: 694px;
      height: 400px;
      max-height: 400px;
      margin-left: 0;
    }
    &.fadeup {
      transition-delay: 0.5s;
      @include min(sm) {
        transition-delay: 0.8s;
      }
    }
    & img {
      transform: scale(1.07);
      object-position: -6px 50%;
      @include min(md) {
        transform: scale(1);
        object-position: -30px -9px;
      }
    }
  }
  & .story__heading {
    position: absolute;
    top: 86%;
    margin-left: 20px;
    font-size: clamp(1.5rem, -1rem + 7.1vw, 2.2rem);
    letter-spacing: 0.12em;
    line-height: 1.8;
    @include min(sm) {
      top: -14%;
      right: 5%;
      margin-left: 0;
      margin-right: 20px;
      font-size: clamp(2.7rem, 0.2rem + 3vw, 3.2rem);
    }
    @include min(md) {
      top: -16%;
      right: 5%;
      margin-right: 0;
      font-size: clamp(3.2rem, 0.2rem + 3.2vw, 4.3rem);
      line-height: 2;
    }
    @include min(la) {
      top: -20%;
      right: 0;
      font-size: 4.8rem;
      margin-right: 0;
    }
    &.fadeup {
      transition-delay: 0.7s;
      @include min(sm) {
        transition-delay: 1s;
      }
    }
  }
  & .story__pic02 {
    position: absolute;
    top: 55%;
    right: 0;
    width: 45vw;
    max-width: 210px;
    height: 22vh;
    overflow: hidden;
    @include min(sm) {
      top: 85%;
      right: 0;
      width: 45vw;
      max-width: 500px;
      height: 36vh;
    }
    @include min(md) {
      top: 104%;
      right: 0;
      width: 42vw;
      max-width: 542px;
      height: 45vh;
      max-height: 320px;
    }
    @include min(la) {
      top: 106%;
      max-height: 430px;
      height: 430px;
    }
    &.fadeup {
      transition-delay: 0.6s;
      @include min(sm) {
        transition-delay: 0.8s;
      }
    }
    & img {
      transform: scale(1.04);
      -o-object-position: -6px 50%;
      object-position: -29px 50%;
      @include min(sm) {
        transform: scale(1.06);
        object-position: -42px 50%;
      }
      @include min(md) {
        transform: scale(1.1);
        -o-object-position: -65px 50%;
        object-position: -46px 50%;
      }
      @include min(la) {
        transform: scale(1.1);
        object-position: -64px 50%;
      }
    }
  }

  .story__text {
    position: absolute;
    top: 142%;
    margin-left: 20px;
    margin-right: 20px;
    @include min(sm) {
      top: 142%;
      width: 48%;
    }
    @include min(md) {
      width: 49%;
      top: 148%;
    }
    @include min(la) {
      top: 154%;
      width: 47%;
      margin-left: 0;
      margin-right: 0;
    }
    &.fadeup {
      transition-delay: 0.9s;
      @include min(sm) {
        transition-delay: 1s;
      }
    }
    & .story__heading-sub {
      position: relative;
      font-size: 1.4rem;
      margin-bottom: 12px;
      @include min(md) {
        margin-bottom: 16px;
      }
      @include min(la) {
        font-size: 1.6rem;
        margin-bottom: 20px;
      }
      &::before {
        position: absolute;
        content: "";
        width: 2px;
        height: 100%;
        background-color: #e1c45f;
      }
      & .font__roboto {
        font-weight: 600;
        margin-left: 12px;
      }
    }
    & .story__description {
      line-height: 1.8;
      font-size: 1.3rem;
      @include min(sm) {
        line-height: 2;
      }
      @include min(la) {
        font-size: 1.5rem;
        line-height: 2.2;
      }
    }
  }
}

//owner
.owner {
  background: #f3f4f1;
  padding-bottom: 30px;
  position: relative;
  @include min(sm) {
    padding-bottom: 50px;
  }
}
.owner__container {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  z-index: 1;
}
.owner__heading {
  position: relative;
  bottom: 30px;
  line-height: 1;
  @include min(sm) {
    bottom: 40px;
  }
  & .owner__heading-en {
    display: block;
    font-size: 4.8rem;
    letter-spacing: 0.12em;
    margin-bottom: 6px;
    @include min(sm) {
      font-size: 8rem;
      margin-bottom: 16px;
    }
  }
  & .owner__heading-ja {
    margin-left: 8px;
    @include min(sm) {
      font-size: 2.4rem;
    }
  }
}
.owner__inner {
  @include min(sm) {
    display: flex;
    margin: 0 auto;
    // position: relative;
    // bottom: 6px;
  }
}
.owner__left {
  & .owner__pic {
    height: clamp(26rem, 2.125rem + 67.75vw, 37rem);
    overflow: hidden;
    margin-bottom: 20px;
    @include min(sm) {
      width: 40vw;
      max-width: 380px;
      height: 420px;
      margin-bottom: 0;
      margin-right: 50px;
    }
    @include min(md) {
      margin-right: 56px;
    }
    & img {
      transform: scale(1.2);
      -o-object-position: 50% -6px;
      object-position: 50% -37px;
      @include min(sm) {
        transform: scale(1.4);
        -o-object-position: 50% -18px;
        object-position: 50% -15px;
      }
    }
  }
}
.owner__right {
  @include min(sm) {
    position: relative;
  }
  @include min(md) {
    position: relative;
    padding-top: 24px;
  }
  & .owner__name {
    text-align: center;
    @include min(sm) {
      font-size: 1.8rem;
      text-align: left;
      margin-bottom: 8px;
    }
  }
  & .owner__title {
    text-align: center;
    font-size: 1.3rem;
    display: block;
    @include min(sm) {
      text-align: left;
      margin-bottom: 16px;
    }
    @include min(md) {
      margin-bottom: 24px;
    }
  }
  & .owner__name-en {
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    color: #fff;
    letter-spacing: 0.16em;
    position: relative;
    z-index: -1;
    top: 12px;
    margin-bottom: 26px;
    @include min(sm) {
      position: absolute;
      font-size: clamp(5.6rem, 1.111rem + 5.19vw, 7rem);
      margin-bottom: 0;
      top: 8px;
      right: 0;
    }
    @include min(md) {
      position: absolute;
      font-size: clamp(5.6rem, 1.111rem + 5.19vw, 7rem);
      margin-bottom: 0;
      top: 32px;
      right: 0;
    }
  }
  & .owner__description01 {
    font-size: 1.4rem;
    margin-bottom: 16px;
    @include min(md) {
      line-height: 2;
    }
  }
  & .owner__description02 {
    font-size: 1.4rem;
    margin-bottom: 16px;
    @include min(sm) {
      margin-bottom: 24px;
      line-height: 2;
    }
  }
}
.owner__career {
  background-color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  @include min(sm) {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-right: 10px;
  }
  & .owner__list {
    & .owner__item {
      list-style: none;
      display: flex;
      flex-direction: column;
      margin-bottom: 6px;
      &:nth-child(2) {
        margin-bottom: 0;
      }
      @include min(sm) {
        flex-direction: row;
        column-gap: 16px;
      }
      & span:nth-child(1) {
        font-size: 1.3rem;
        @include min(sm) {
          font-size: 1.2rem;
        }
        @include min(md) {
          font-size: 1.3rem;
        }
      }
      & span:nth-child(2) {
        font-size: 1.2rem;
        @include min(sm) {
          font-size: 1.1rem;
        }
        @include min(md) {
          font-size: 1.2rem;
        }
      }
    }
  }
}

//facility
.facility {
  padding-top: 40px;
  padding-bottom: 50px;
  @include min(sm) {
    padding-top: 70px;
    padding-bottom: 80px;
  }
}
.facility__container {
  padding-left: 20px;
  padding-right: 20px;
}
.facility__list {
  @include min(sm) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 56px;
  }
  & .facility__item {
    list-style: none;
    margin-bottom: 32px;
    @include min(sm) {
      width: clamp(23rem, 3.434rem + 24.1vw, 32rem);
      margin-bottom: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    & .facility__item-pic {
      //   height: 224px;
      margin-bottom: 16px;
      @include max(ssm) {
        height: 230px;
      }
    }
    & .facility__item-heading {
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 8px;
    }
    & .facility__item-description {
      font-size: 1.4rem;
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}
