@use "mixin" as *;
//header
header {
  position: fixed;
  width: 100%;
  // height: 70px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999;

  @include min(sm) {
    height: 80px;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  @include min(sm) {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: clamp(6rem, 1.681rem + 4.31vw, 7rem);
    padding-left: clamp(6rem, 1.681rem + 4.31vw, 7rem);
  }

  .header__logo {
    width: 145px;
    @include min(sm) {
      width: 168px;
    }
  }
  .header__burger {
    width: 30px;
    height: 100%;
    aspect-ratio: 1/1;
    border: 0;
    border-radius: 1px;
    background-color: transparent;
    padding: 0;
    z-index: 1;
    cursor: pointer;
    @include min(sm) {
      display: none;
    }
    & span {
      display: block;
      background-color: #000;
      height: 2px;
      width: 26px;
      transition: 0.5s;
      border-radius: 2px;

      margin: 0 auto;
      &:nth-child(1) {
        transform: translateY(9px);
      }
      &:nth-child(3) {
        transform: translateY(-9px);
      }
    }
    &.is-active span:nth-child(1) {
      transform: rotate(45deg);
      translate: 0 4px;
      background-color: #fff;
    }
    &.is-active span:nth-child(2) {
      opacity: 0;
    }
    &.is-active span:nth-child(3) {
      transform: rotate(-45deg);
      background-color: #fff;
    }
  }
}

.header__menu {
  @include max(sm) {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: #202020;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.6s;
    &.is-open {
      transition: all 0.6s;
      visibility: visible;
      opacity: 1;
    }
    .header__menu-logo {
      width: 145px;
      margin-bottom: 56px;
      padding-top: 14px;
    }
    & .header__list {
      margin-bottom: 30px;
      .header__item {
        display: flex;
        flex-direction: column;
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 2px;

        &:first-child {
          border-top: 1px solid rgba(255, 255, 255, 0.5);
        }
        .header__item-link {
          display: flex;
          flex-direction: column;
          .header__item-en {
            color: #e1c45f;
            font-size: 1.2rem;
            font-weight: 600;
            margin-right: 14px;
          }
          .header__item-ja {
            font-size: 1.5rem;
            color: #fff;
          }
        }
        // .header__link-sub {
        //   color: #fff;
        //   font-size: 1.2rem;
        // }
      }
      // .header__list-sub {
      //   display: flex;
      //   flex-direction: row;
      //   margin-bottom: 32px;
      //   .header__item {
      //     border: 0;
      //     margin-right: 30px;
      //     .header__item-en {
      //       font-size: 0.9rem;
      //       margin-right: 10px;
      //     }
      //     .header__item-ja {
      //       font-size: 1.3rem;
      //     }
      //   }
      // }
    }

    .header__btn-group {
      display: flex;
      flex-wrap: wrap;
      row-gap: 2%;
      margin-bottom: 36px;
      & .header__btn-sns {
        margin-bottom: 10px;
      }
      & .header__btn-sns,
      & .header__btn-reserve {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        width: 100%;
        height: 50px;
        background-color: #debf4e;
        border-radius: 1px;
        padding-left: 6%;
        transition: all 0.3s;

        & .header__btn-sns-en {
          font-size: 1rem;
          letter-spacing: 0.1em;
        }
        & .header__btn-sns-ja {
          font-size: 1.3rem;
          margin-top: -8px;
          &::after {
            position: absolute;
            content: "";
            top: 58%;
            right: 10%;
            width: 8px;
            height: 8px;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            transform: rotate(45deg);
            transition: all 0.3s;
          }
        }
      }
    }
  }
  & .header__menu-logo {
    @include min(sm) {
      display: none;
    }
  }
  .header__list {
    @include min(sm) {
      display: flex;
      column-gap: 48px;
    }
    @include min(md) {
      column-gap: 56px;
    }
    & .header__item {
      position: relative;
      &.pc__none {
        @include min(sm) {
          display: none;
        }
      }
      & .header__item-link {
        @include min(sm) {
          display: flex;
          flex-direction: column;
          text-align: center;
        }
        & .header__item-en {
          @include min(sm) {
            font-family: "Roboto", sans-serif;
            color: #dfbb3f;
            font-size: clamp(1.1rem, 0.3362rem + 0.8621vw, 1.2rem);
            letter-spacing: 0.04em;
            // font-weight: 600;
          }
        }
        & .header__item-ja {
          @include min(sm) {
            font-size: clamp(1.2rem, 0.3362rem + 0.8621vw, 1.3rem);
            font-weight: 600;
          }
        }
      }
    }
    .header__link-sub {
      @include min(sm) {
        display: none;
      }
    }
  }
  .header__list-sub {
    @include min(sm) {
      display: none;
    }
  }
  & .dropdown__list {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 120%;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: all 0.3s;
    width: 150px;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    padding: 12px;
    &.only__length {
      width: 160px;
    }
    & .dropdown__item {
      font-size: 1.2rem;
      margin-bottom: 4px;
      &:hover .dropdown__item-link {
        color: #dfbb3f;
      }
      &:last-child {
        margin-bottom: 0;
      }
      .dropdown__item-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.2s;
        &:hover .dropdown__item-arrow {
          right: 0;
        }
        .dropdown__item-arrow {
          position: relative;
          right: 4%;
          width: 6px;
          transition: all 0.2s;
        }
      }
    }
  }
  & .header__item:hover .dropdown__list {
    @include min(sm) {
      visibility: visible;
      opacity: 1;
    }
  }
  .header__btn-group {
    @include min(sm) {
      display: none;
    }
  }
}
