@use "mixin" as *;
@use "header" as *;
@use "footer" as *;

//mv
.trainer__mv {
  & .mv__pic {
    & img {
      transform: scale(1.07);
      -o-object-position: -35px 50%;
      object-position: 71% -13px;
      @include min(sm) {
        transform: scale(1.2);
        object-position: 35% -18px;
      }
      @include min(md) {
        transform: scale(1.1);
        object-position: 4px 30%;
      }
    }
  }
}

//trainer
.trainer {
  padding-top: 50px;
  padding-bottom: 80px;
  @include min(sm) {
    padding-top: 70px;
    padding-bottom: 110px;
  }
  & .trainer__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.trainer__list {
  @include min(sm) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  & .trainer__item {
    list-style: none;
    margin-bottom: 50px;
    @include min(sm) {
      width: clamp(23rem, 3.434rem + 24.1vw, 32rem);
      margin-bottom: 70px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    & .trainer__item-pic {
      margin-bottom: 16px;
      & img {
        @include max(ssm) {
          max-height: 462px;
        }
      }
    }
    & .trainer__item-heading {
      text-align: center;
      margin-bottom: 6px;
      & .trainer__item-heading-sub {
        color: #6d6d6d;
        font-size: 1rem;
        margin-left: 6px;
      }
    }
    & .trainer__item-career {
      text-align: center;
      font-size: 1.3rem;
      margin-bottom: 14px;
    }
    & .trainer__item-qualification {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      & .trainer__item-qualification-inner {
        display: inline-block;
        font-size: 1.1rem;
        padding: 4px 14px;
        background-color: rgba(243, 243, 243, 0.8);
        border-radius: 5px;
        @include min(sm) {
          font-size: 1rem;
        }
        @include min(la) {
          font-size: 1.1rem;
        }
      }
    }
  }
}

//advisor{
.advisor {
  background-color: #f9f8f1;
  padding-bottom: 60px;
  @include min(sm) {
    padding-bottom: 80px;
  }
  & .advisor__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.advisor__heading {
  position: relative;
  bottom: 32px;
  margin-bottom: 0;
  @include min(sm) {
    bottom: 41px;
    margin-bottom: 8px;
  }
  & .section__heading-en {
    line-height: 1.06;
    @include min(sm) {
      display: flex;
    }
    & .pc__none {
      display: none;
      @include min(sm) {
        display: inline-block;
      }
    }
    & .pc__new-line {
      @include min(sm) {
        display: none;
      }
    }
  }

  & .section__heading-ja {
    position: relative;
    top: auto;
    bottom: 18px;
  }
}
.advisor__list {
  @include min(sm) {
    display: flex;
    flex-wrap: wrap;
  }
  & .advisor__item {
    list-style: none;
    margin-bottom: 50px;
    @include min(sm) {
      width: clamp(23rem, 3.434rem + 24.1vw, 32rem);
      margin-right: 40px;
      margin-bottom: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    & .advisor__item-pic {
      margin-bottom: 16px;
      & img {
        @include max(ssm) {
          max-height: 462px;
        }
      }
    }
    & .advisor__item-heading {
      text-align: center;
      margin-bottom: 6px;
      & .advisor__item-heading-sub {
        color: #6d6d6d;
        font-size: 1rem;
        margin-left: 6px;
      }
    }
    & .advisor__item-career {
      text-align: center;
      font-size: 1.3rem;
      margin-bottom: 14px;
    }
    & .advisor__item-qualification {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      & .advisor__item-qualification-inner {
        display: inline-block;
        font-size: 1.1rem;
        padding: 4px 14px;
        background-color: #fff;
        border-radius: 5px;
        @include min(sm) {
          font-size: 1rem;
        }
        @include min(la) {
          font-size: 1.1rem;
        }
      }
    }
  }
}
