@use "mixin" as *;
@use "header" as *;
@use "footer" as *;

//mv
.trainer__mv {
  & .mv__pic {
    & img {
      transform: scale(1.07);
      -o-object-position: -35px 50%;
      object-position: 71% -13px;
      @include min(sm) {
        transform: scale(1.2);
        object-position: 35% -18px;
      }
      @include min(md) {
        transform: scale(1.1);
        object-position: 4px 30%;
      }
    }
  }
}

//trainer
.trainer {
  padding-top: 50px;
  padding-bottom: 50px;
  @include min(sm) {
    padding-top: 100px;
    padding-bottom: 60px;
  }
  & .trainer__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.trainer__list {
  & .trainer__item {
    list-style: none;
    & .trainer__item-pic {
      margin-bottom: 16px;
    }
    & .trainer__item-heading {
      text-align: center;
      margin-bottom: 6px;
    }
    & .trainer__item-career {
      text-align: center;
      font-size: 1.4rem;
      margin-bottom: 14px;
    }
    & .trainer__item-description {
      font-size: 1.4rem;
    }
  }
}
