header {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #fff;
  z-index: 999;
}
@media (width >= 768px) {
  header {
    height: 80px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px;
}
@media (width >= 768px) {
  .header__container {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: clamp(6rem, 1.681rem + 4.31vw, 7rem);
    padding-left: clamp(6rem, 1.681rem + 4.31vw, 7rem);
  }
}
.header__container .header__logo {
  width: 145px;
}
@media (width >= 768px) {
  .header__container .header__logo {
    width: 168px;
  }
}
.header__container .header__burger {
  width: 30px;
  height: 100%;
  aspect-ratio: 1/1;
  border: 0;
  border-radius: 1px;
  background-color: transparent;
  padding: 0;
  z-index: 1;
  cursor: pointer;
}
@media (width >= 768px) {
  .header__container .header__burger {
    display: none;
  }
}
.header__container .header__burger span {
  display: block;
  background-color: #000;
  height: 2px;
  width: 26px;
  transition: 0.5s;
  border-radius: 2px;
  margin: 0 auto;
}
.header__container .header__burger span:nth-child(1) {
  transform: translateY(9px);
}
.header__container .header__burger span:nth-child(3) {
  transform: translateY(-9px);
}
.header__container .header__burger.is-active span:nth-child(1) {
  rotate: 45deg;
  translate: 6px -2px;
  background-color: #fff;
}
.header__container .header__burger.is-active span:nth-child(2) {
  opacity: 0;
}
.header__container .header__burger.is-active span:nth-child(3) {
  transform: rotate(-45deg);
  background-color: #fff;
}

@media (width < 768px) {
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: #202020;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.6s;
  }
  .header__menu.is-open {
    transition: all 0.6s;
    visibility: visible;
    opacity: 1;
  }
  .header__menu .header__menu-logo {
    width: 145px;
    margin-bottom: 56px;
    padding-top: 14px;
  }
  .header__menu .header__list {
    margin-bottom: 30px;
  }
  .header__menu .header__list .header__item {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
  }
  .header__menu .header__list .header__item:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
  .header__menu .header__list .header__item .header__item-link {
    display: flex;
    flex-direction: column;
  }
  .header__menu .header__list .header__item .header__item-link .header__item-en {
    color: #e1c45f;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 14px;
  }
  .header__menu .header__list .header__item .header__item-link .header__item-ja {
    font-size: 1.5rem;
    color: #fff;
  }
  .header__menu .header__btn-group {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2%;
    margin-bottom: 36px;
  }
  .header__menu .header__btn-group .header__btn-sns {
    margin-bottom: 10px;
  }
  .header__menu .header__btn-group .header__btn-sns, .header__menu .header__btn-group .header__btn-reserve {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    width: 100%;
    height: 50px;
    background-color: #debf4e;
    border-radius: 1px;
    padding-left: 6%;
    transition: all 0.3s;
  }
  .header__menu .header__btn-group .header__btn-sns .header__btn-sns-en, .header__menu .header__btn-group .header__btn-reserve .header__btn-sns-en {
    font-size: 1rem;
    letter-spacing: 0.1em;
  }
  .header__menu .header__btn-group .header__btn-sns .header__btn-sns-ja, .header__menu .header__btn-group .header__btn-reserve .header__btn-sns-ja {
    font-size: 1.3rem;
    margin-top: -8px;
  }
  .header__menu .header__btn-group .header__btn-sns .header__btn-sns-ja::after, .header__menu .header__btn-group .header__btn-reserve .header__btn-sns-ja::after {
    position: absolute;
    content: "";
    top: 58%;
    right: 10%;
    width: 8px;
    height: 8px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    transition: all 0.3s;
  }
}
@media (width >= 768px) {
  .header__menu .header__menu-logo {
    display: none;
  }
}
@media (width >= 768px) {
  .header__menu .header__list {
    display: flex;
    -moz-column-gap: 48px;
         column-gap: 48px;
  }
}
@media (width >= 960px) {
  .header__menu .header__list {
    -moz-column-gap: 56px;
         column-gap: 56px;
  }
}
.header__menu .header__list .header__item {
  position: relative;
}
@media (width >= 768px) {
  .header__menu .header__list .header__item.pc__none {
    display: none;
  }
}
@media (width >= 768px) {
  .header__menu .header__list .header__item .header__item-link {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media (width >= 768px) {
  .header__menu .header__list .header__item .header__item-link .header__item-en {
    font-family: "Roboto", sans-serif;
    color: #dfbb3f;
    font-size: clamp(1.1rem, 0.3362rem + 0.8621vw, 1.2rem);
    letter-spacing: 0.04em;
  }
}
@media (width >= 768px) {
  .header__menu .header__list .header__item .header__item-link .header__item-ja {
    font-size: clamp(1.2rem, 0.3362rem + 0.8621vw, 1.3rem);
    font-weight: 600;
  }
}
@media (width >= 768px) {
  .header__menu .header__list .header__link-sub {
    display: none;
  }
}
@media (width >= 768px) {
  .header__menu .header__list-sub {
    display: none;
  }
}
.header__menu .dropdown__list {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 120%;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: all 0.3s;
  width: 150px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  padding: 12px;
}
.header__menu .dropdown__list.only__length {
  width: 160px;
}
.header__menu .dropdown__list .dropdown__item {
  font-size: 1.2rem;
  margin-bottom: 4px;
}
.header__menu .dropdown__list .dropdown__item:hover .dropdown__item-link {
  color: #dfbb3f;
}
.header__menu .dropdown__list .dropdown__item:last-child {
  margin-bottom: 0;
}
.header__menu .dropdown__list .dropdown__item .dropdown__item-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s;
}
.header__menu .dropdown__list .dropdown__item .dropdown__item-link:hover .dropdown__item-arrow {
  right: 0;
}
.header__menu .dropdown__list .dropdown__item .dropdown__item-link .dropdown__item-arrow {
  position: relative;
  right: 4%;
  width: 6px;
  transition: all 0.2s;
}
@media (width >= 768px) {
  .header__menu .header__item:hover .dropdown__list {
    visibility: visible;
    opacity: 1;
  }
}
@media (width >= 768px) {
  .header__menu .header__btn-group {
    display: none;
  }
}

footer {
  background-color: #202020;
}

.footer__container {
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 694px;
  margin: 0 auto;
}
@media (width >= 768px) {
  .footer__container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    padding-top: 40px;
    padding-bottom: 60px;
  }
}

.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (width >= 768px) {
  .footer__left {
    width: 34vw;
    max-width: 312px;
  }
}
.footer__left .footer__logo {
  width: 145px;
  margin-bottom: 36px;
}
@media (width >= 768px) {
  .footer__left .footer__logo {
    width: 25vw;
    max-width: 280px;
    margin-bottom: 0;
  }
}

.footer__info {
  color: #fff;
}

.footer__info.pc {
  display: none;
}
@media (width >= 768px) {
  .footer__info.pc {
    display: block;
    max-width: 312px;
  }
  .footer__info.pc .footer__info-line {
    position: relative;
    margin-bottom: 10px;
  }
  .footer__info.pc .footer__info-line::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background-color: #e1c45f;
  }
  .footer__info.pc .footer__info-line .footer__info-title {
    font-size: 1.4rem;
    margin-left: 12px;
  }
  .footer__info.pc .footer__info-detail {
    font-size: 1.3rem;
    max-width: 312px;
    line-height: 2;
  }
}

@media (width >= 768px) {
  .footer__right {
    width: 48vw;
    max-width: 606px;
    margin-left: auto;
  }
}
@media (width >= 960px) {
  .footer__right {
    width: 50vw;
  }
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  -moz-column-gap: 11%;
       column-gap: 11%;
  margin-bottom: 24px;
}
@media (width >= 768px) {
  .footer__list {
    -moz-column-gap: 55px;
         column-gap: 55px;
  }
}
@media (width >= 1280px) {
  .footer__list {
    -moz-column-gap: 55px;
         column-gap: 55px;
    margin-bottom: 32px;
  }
}
.footer__list.footer__list02 {
  margin-bottom: 36px;
}
@media (width >= 1280px) {
  .footer__list.footer__list02 {
    margin-bottom: 48px;
  }
}
.footer__list .footer__item {
  display: flex;
  flex-direction: column;
}
@media (width >= 768px) {
  .footer__list .footer__item:last-child {
    margin-right: 0;
  }
}
.footer__list .footer__item:nth-child(1), .footer__list .footer__item:nth-child(3) {
  width: 88px;
}
@media (width >= 768px) {
  .footer__list .footer__item:nth-child(1), .footer__list .footer__item:nth-child(3) {
    width: 96px;
  }
}
.footer__list .footer__item .footer__link-main {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  padding-bottom: 3px;
  margin-bottom: 2%;
  transition: all 0.2s;
}
.footer__list .footer__item .footer__link-main:hover .footer__link-main-ja {
  color: #bbbbbb;
}
.footer__list .footer__item .footer__link-main.border__none {
  border: none;
}
.footer__list .footer__item .footer__link-main .footer__link-main-en {
  font-size: 1rem;
  color: #e1c45f;
}
@media (width >= 768px) {
  .footer__list .footer__item .footer__link-main .footer__link-main-en {
    font-size: 1.2rem;
  }
}
.footer__list .footer__item .footer__link-main .footer__link-main-ja {
  font-size: 1.3rem;
  color: #fff;
  margin-top: -5px;
}
.footer__list .footer__item .footer__link-sub {
  font-size: 1.1rem;
  color: #fff;
  transition: all 0.2s;
}
@media (width >= 768px) {
  .footer__list .footer__item .footer__link-sub {
    font-size: 1.2rem;
  }
}
.footer__list .footer__item .footer__link-sub:hover {
  color: #bbbbbb;
}

.footer__btn-group {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2%;
  margin-bottom: 36px;
}
@media (width >= 768px) {
  .footer__btn-group {
    justify-content: space-between;
    margin-bottom: 0;
  }
}
.footer__btn-group .footer__btn-sns {
  margin-bottom: 10px;
}
.footer__btn-group .footer__btn-sns, .footer__btn-group .footer__btn-reserve {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  width: 100%;
  height: 50px;
  background-color: #debf4e;
  border-radius: 1px;
  padding-left: 6%;
  transition: all 0.3s;
}
@media (width >= 768px) {
  .footer__btn-group .footer__btn-sns, .footer__btn-group .footer__btn-reserve {
    width: 290px;
  }
  .footer__btn-group .footer__btn-sns:hover, .footer__btn-group .footer__btn-reserve:hover {
    background-color: transparent;
    border: 1px solid #debf4e;
  }
  .footer__btn-group .footer__btn-sns:hover .footer__btn-sns-en, .footer__btn-group .footer__btn-sns:hover .footer__btn-sns-ja, .footer__btn-group .footer__btn-reserve:hover .footer__btn-sns-en, .footer__btn-group .footer__btn-reserve:hover .footer__btn-sns-ja {
    color: #debf4e;
  }
  .footer__btn-group .footer__btn-sns:hover .footer__btn-sns-ja::after, .footer__btn-group .footer__btn-reserve:hover .footer__btn-sns-ja::after {
    right: 8%;
    border-top: 2px solid #debf4e;
    border-right: 2px solid #debf4e;
  }
}
.footer__btn-group .footer__btn-sns .footer__btn-sns-en, .footer__btn-group .footer__btn-reserve .footer__btn-sns-en {
  font-size: 1rem;
  letter-spacing: 0.1em;
}
.footer__btn-group .footer__btn-sns .footer__btn-sns-ja, .footer__btn-group .footer__btn-reserve .footer__btn-sns-ja {
  font-size: clamp(1.1rem, 0.518rem + 1.91vw, 1.2rem);
  margin-top: -8px;
}
.footer__btn-group .footer__btn-sns .footer__btn-sns-ja::after, .footer__btn-group .footer__btn-reserve .footer__btn-sns-ja::after {
  position: absolute;
  content: "";
  top: 58%;
  right: 10%;
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  transition: all 0.3s;
}

.footer__info.sp {
  display: block;
}
.footer__info.sp .footer__info-line {
  position: relative;
}
.footer__info.sp .footer__info-line::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #e1c45f;
}
.footer__info.sp .footer__info-line .footer__info-title {
  font-size: 1.3rem;
  margin-left: 4%;
  margin-bottom: 10px;
}
.footer__info.sp .footer__info-detail {
  font-size: 1.2rem;
}
@media (width >= 768px) {
  .footer__info.sp {
    display: none;
  }
}

.footer__copyright {
  background-color: #fff;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer__copyright small {
  margin: 0 auto;
}

.trainer__mv .mv__pic img {
  transform: scale(1.07);
  -o-object-position: -35px 50%;
  object-position: 71% -13px;
}
@media (width >= 768px) {
  .trainer__mv .mv__pic img {
    transform: scale(1.2);
    -o-object-position: 35% -18px;
       object-position: 35% -18px;
  }
}
@media (width >= 960px) {
  .trainer__mv .mv__pic img {
    transform: scale(1.1);
    -o-object-position: 4px 30%;
       object-position: 4px 30%;
  }
}

.trainer {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (width >= 768px) {
  .trainer {
    padding-top: 100px;
    padding-bottom: 60px;
  }
}
.trainer .trainer__container {
  padding-left: 20px;
  padding-right: 20px;
}

.trainer__list .trainer__item {
  list-style: none;
  margin-bottom: 50px;
}
.trainer__list .trainer__item:last-child {
  margin-bottom: 0;
}
.trainer__list .trainer__item .trainer__item-pic {
  margin-bottom: 16px;
}
.trainer__list .trainer__item .trainer__item-heading {
  text-align: center;
  margin-bottom: 6px;
}
.trainer__list .trainer__item .trainer__item-career {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 14px;
}
.trainer__list .trainer__item .trainer__item-description {
  font-size: 1.4rem;
}/*# sourceMappingURL=trainer.css.map */